

.lead-slider-wrapper{
    position:relative;
    li{
        background-size: cover;
        background-position: center center;
            
        .container{
            padding-top: 200px;
            padding-bottom: 150px;
            
        }
    }
    
    .owl-dots{
        position:absolute;
        bottom:50px;
        left:0;
        width: 100%;
    }
    .owl-carousel .owl-dots .owl-dot span{
        width: 7px;
        height: 7px;
        background: #fff;
        margin:7px;
    }
    .owl-carousel .owl-dots .owl-dot .active span,
    .owl-carousel .owl-dots .owl-dot:hover span{
        background: #fff;
    }
    .owl-carousel .owl-dots .owl-dot.active{
        border-radius: 50%;
        border:2px solid #fff;
    }
}//lead-slider-wrapper end

@media(min-width:992px){
    .lead-slider-wrapper{
        .li{
            .container{
                padding-top: 250px;
                padding-bottom: 200px;
            }
        }
    }
}